.listSong-scroll {
    overflow-y: scroll;
}

.listSong-scroll::-webkit-scrollbar {
    width: 6px;
   
} 
.listSong-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
}
.listSong-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #75747488;
}

thead tr {
    position: sticky;
    top: 0;
    background: #171717;
}

thead tr::after{
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
}