.player {
  background-color: #282828 !important;
  height: 6rem;
  color: white;
}

.rhap_container svg {
  color: white;
}

.rhap_time {
  color: white;
}

.rhap_progress-indicator {
  background: #22C55E;
}

.rhap_progress-filled {
  background-color: #22C55E;
}

.rhap_volume-indicator {
  background-color: white;
}

.rhap_volume-bar-area {
  margin-right: 5px;
}