#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 4px;
  overflow: hidden;
  
}

#progress:hover {
  opacity: 1;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 2px;
  cursor: pointer;
  box-shadow: -400px 0 0 400px #07f09a;
}

#volume {
  -webkit-appearance: none;
  /* width: 100%; */
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 4px;
  overflow: hidden;
  
}

#volume:hover {
  opacity: 1;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 2px;
  cursor: pointer;
  /* background-color: #07f09a; */
  box-shadow: -400px 0 0 400px #07f09a;
}
.btn_play--pause {
  display: none;
}

.btn_play--playing,.btn_play--pause {
  line-height: 30px;
}

.active .btn_play--pause {
  display: block;
}

.active .btn_play--playing {
  display: none;
}

  

